# Supabase - Obtenha essas chaves no dashboard do Supabase (Settings > API)
VITE_SUPABASE_URL="https://rhwdkzqfykkijukrtbaf.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_6B-gkBaGVvz5NAxKeWjRgA_wvgBDeXO"
VITE_SUPABASE_PROJECT_ID="rhwdkzqfykkijukrtbaf"
